// NewProduct.module.scss
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;background: rgba(0, 0, 0, 0.5); // Затемнённый фон
  backdrop-filter: blur(4px);    // Лёгкий блюр для премиум-вида
  z-index: 1000;                 // Наверх всех элементов

}

.formNewProduct {
  background: white;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 40px;
}
.input {
  height: 40px;
  border: 1px solid var(--border-input-default);
  background: var(--background-input);
  border-radius: var(--border-radius);
  padding: 12px;
}
.inputProduct {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.required {
  color: #dc3545;
  margin-left: 3px;
}

.optional {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.buttonAddProduct {
  flex: 2;
  padding: 10px;
  background: var(--color-blue);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background: var(--color-grey-desc);
  }
}
